:root {
  --sign-up-primary-color: #171645;
  --sign-up-secondary-color: #dadaf2;
  --sign-up-gray-color: #f8f8fb;
  --sign-up-white-color: #ffffff;
  --sign-up-black-color: #000000;
  --sign-up-error-border-color: #fb7478;
}

.sign-up-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--sign-up-gray-color);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.sign-up__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--sign-up-white-color);
  padding: 72px;
  gap: 32px;
  border-radius: 12px;
  box-shadow: 0px 24px 73px rgba(23, 22, 69, 0.08);
}

.sign-up__title {
  color: var(--sign-up-primary-color);
  font-size: 32px;
  margin: 0;
}

.sign-up__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.sign-up__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 410px;
}

.sign-up__body > p {
  color: var(--sign-up-primary-color);
  opacity: 0.5;
  margin: 0;
  font-weight: 500;
}

.sign-up__form input {
  font-size: 18px;
  padding: 24px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--sign-up-secondary-color);
  font-family: inherit;
  font-weight: 500;
  width: 100%;
  box-sizing: border-box;
}

.sign-up__input-group {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 12px;
}

.sign-up__select-gender {
  box-sizing: border-box;
  border-radius: 4px;
  border: 1px solid var(--sign-up-secondary-color);
  background-color: var(--sign-up-gray-color);
  flex-basis: 120px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  outline: none;
  color: var(--sign-up-primary-color);
  font-weight: 500;
}

.sign-up__select-gender:disabled {
  opacity: 1;
}

.sign-up__input-group > input {
  flex-basis: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

.sign-up__input {
  color: var(--sign-up-primary-color);
  background-color: var(--sign-up-gray-color);
}

.sign-up__input::placeholder {
  color: var(--sign-up-primary-color);
  opacity: 0.6;
}

.sign-up__input--error {
  border: 1px solid var(--sign-up-error-border-color) !important;
}

.sign-up__submit-btn {
  color: var(--sign-up-white-color);
  background-color: var(--sign-up-primary-color);
  border-color: var(--sign-up-primary-color) !important;
  display: block;
}

.sign-up__submit-btn:hover,
.sign-up__submit-btn:focus {
  cursor: pointer;
  opacity: 0.9;
}

.sign-up__log-in-link:link,
.sign-up__log-in-link:visited {
  color: var(--sign-up-primary-color);
  text-decoration: none;
  font-weight: 500;
}

.sign-up__log-in-link:hover,
.sign-up__log-in-link:focus {
  text-decoration: underline;
}
