.workspace-container {
  background-color: #fff;
  height: 100%;
  position: relative;
}

.workspace-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.workspace-main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  height: 100%;
  padding: 30px 30px 5px 30px;
  box-sizing: border-box;
}

.workspace-body {
  position: relative;
  flex-grow: 1;
}

.workspace-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  overflow-y: hidden;
}

.workspace-content__task-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 0 0 362px;
}
