:root {
  --change-password-primary-color: #171645;
  --change-password-secondary-color: #dadaf2;
  --change-password-gray-color: #f8f8fb;
  --change-password-white-color: #ffffff;
  --change-password-black-color: #000000;
  --change-password-error-border-color: #fb7478;
}

.change-password {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--change-password-gray-color);
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  height: 100%;
}

.change-password__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--change-password-white-color);
  padding: 72px;
  gap: 32px;
  border-radius: 12px;
  box-shadow: 0px 24px 73px rgba(23, 22, 69, 0.08);
}

.change-password__title {
  color: var(--change-password-primary-color);
  font-size: 32px;
  margin: 0;
}

.change-password__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.change-password__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
  width: 410px;
}

.change-password__body > p {
  color: var(--change-password-primary-color);
  opacity: 0.5;
  margin: 0;
  font-weight: 500;
}

.change-password__form input {
  font-size: 18px;
  padding: 24px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--change-password-secondary-color);
  font-family: inherit;
  font-weight: 500;
  width: 100%;
  box-sizing: border-box;
}

.change-password__input {
  color: var(--change-password-primary-color);
  background-color: var(--change-password-gray-color);
}

.change-password__input::placeholder {
  color: var(--change-password-primary-color);
  opacity: 0.6;
}

.change-password__input--error {
  border: 1px solid var(--change-password-error-border-color) !important;
}

.change-password__submit-btn {
  color: var(--change-password-white-color);
  background-color: var(--change-password-primary-color);
  border-color: var(--change-password-primary-color) !important;
  display: block;
  margin-top: 20px;
}

.change-password__submit-btn:hover,
.change-password__submit-btn:focus {
  cursor: pointer;
  opacity: 0.9;
}

.change-password__link:link,
.change-password__link:visited {
  color: var(--change-password-primary-color);
  text-decoration: none;
  font-weight: 500;
  text-decoration: underline;
}
