@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

:root {
  --login-primary-color: #171645;
  --login-secondary-color: #dadaf2;
  --login-gray-color: #f8f8f8;
  --login-white-color: #ffffff;
  --login-black-color: #000000;
  --login-error-color: #fcaea0;
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--login-gray-color);
  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.login__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--login-white-color);
  padding: 72px;
  gap: 32px;
  border-radius: 12px;
  box-shadow: 0px 24px 73px rgba(23, 22, 69, 0.08);
}

.login__title {
  color: var(--login-primary-color);
  font-size: 32px;
  margin: 0;
}

.login__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 12px;
}

.login__body > p {
  color: var(--login-primary-color);
  opacity: 0.5;
  margin: 0;
  font-weight: 500;
}

.login__form input {
  font-size: 18px;
  padding: 24px;
  border-radius: 4px;
  outline: none;
  border: 1px solid var(--login-secondary-color);
  font-family: inherit;
  font-weight: 500;
}

.login__email-input,
.login__password-input {
  color: var(--login-primary-color);
  background-color: var(--login-gray-color);
  width: 360px;
}

.login__email-input::placeholder,
.login__password-input::placeholder {
  color: var(--login-primary-color);
  opacity: 0.6;
}

input.login__input--error {
  border: 1px solid var(--login-error-color);
}

.login__submit-btn {
  color: var(--login-white-color);
  background-color: var(--login-primary-color);
  width: 100%;
  border-color: var(--login-primary-color) !important;
  display: block;
}

.login__submit-btn:hover,
.login__submit-btn:focus {
  cursor: pointer;
  opacity: 0.9;
}

.login__signup-link:link,
.login__signup-link:visited {
  color: var(--login-primary-color);
  text-decoration: none;
  font-weight: 500;
}

.login__signup-link:hover,
.login__signup-link:focus {
  text-decoration: underline;
}

.login__error-message {
  background-color: var(--login-error-color);
  font-size: 14px;
  padding: 12px;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
}
