.new-status {
  flex: 0 0 280px;
}

.new-status--inactive {
  border: 1px dashed rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  height: 48px;
}

.new-status--inactive:active {
  border: 1px dashed rgb(0, 0, 0);
}

.new-status--active {
  box-sizing: border-box;
  padding: 10px;
  background: #efefef;
  border-radius: 8px;
}

.new-status__input-title {
  width: 100%;
  height: 60px;
  padding: 5px 0px 15px 20px;
  outline: none;
  color: #202142;
  font-size: 14px;
  border: none;
  box-shadow: 0 1px 0 #091e4240;
  box-sizing: border-box;
  border-radius: 8px;
}

.new-status__group-btn {
  display: flex;
  align-items: center;
  text-align: center;
  padding-top: 10px;
}

.new-status__btn-add {
  padding: 0;
  width: 110px;
  height: 36px;
  font-size: 14px;
  font-weight: 400;
  background: #171645;
  border-radius: 8px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.new-status__btn-add:hover {
  opacity: 0.9;
}

.new-status__btn-add:active {
  opacity: 0.85;
}

.new-status__btn-cancel {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 10px;
  opacity: 0.8;
}

.new-status__btn-cancel:hover {
  opacity: 1;
}
