.tasklistViewList__title {
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 39px;
    margin: 0;
    margin-left: 30px;
  }
  
  .tasklistViewList__container {
    width: 100%;
  }
  
  .tasklistViewListView {
    position: relative;
  }
  
  .tasklistView-list-view-arrow {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: transparent;
  }
  
  .tasklistView-list-view-arrow:hover {
    cursor: pointer;
    background-color: rgb(214, 211, 208);
    border-radius: 50%;
  } 