:root {
  --top-bar-height: 58px;
}

.topBar {
  height: var(--top-bar-height);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(210, 208, 208);
  position: relative;
  box-sizing: border-box;
}

.topBar__left {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 100%;
}

.topBar__right {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.topBar__separator {
  width: 1px;
  height: 32px;

  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.1;
  border-radius: 0.5px;
}

.topBar__leftSpacing {
  margin: 0px 13px;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  justify-items: baseline;
}

.topBar__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 100%;
}

.topBar__rightSpacing {
  margin: 0px 13px;
}

.topBar__logoImage {
  object-fit: fill;
  width: 40px;
  height: 40px;
}

.topBar__boardsImage {
  width: 24px;
  height: 24px;
}

.topBar__boards {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  justify-items: baseline;
}

.searchField__topBar {
  background-color: transparent;
  width: 450px;
  border: none;
  outline: none;
}

@media only screen and (max-width: 992px) {
  .searchField__topBar {
    width: 300px;
  }
}

.account-avatar {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #5c5c5c;
  box-sizing: border-box;
}

.topBar__searchBox {
  border-radius: 25px;
  background: #f4f4f4;
  height: 30px;
  padding: 20px;
  box-sizing: border-box;
}

.topBar__searchBtn {
  display: flex;
  align-items: center;
  cursor: pointer;
  outline: 0;
  border: 0;
  padding: 0;
}

.topBar__plus,
.topBar__warning,
.topBar__notifications {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.topBar__plus:hover,
.topBar__warning:hover,
.topBar__notifications:hover {
  transform: scale(1.4);
}

.account-popover__info {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 8px 0;
}

.account-popover__info-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #aaa;
}

.account-popover__info-fullname,
.account-popover__info-email {
  font-size: 13px;
  margin: 0;
  padding: 0;
}

.account-popover__info-fullname {
  font-weight: 500;
}

.account-popover__btn {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 8px 12px;
  border-radius: 3px;
  cursor: pointer;
  margin: 4px 0;
  outline: 0;
  border: 0;
  background-color: inherit;
  width: 100%;
}

.account-popover__btn:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.account-popover__btn:active {
  background-color: rgba(0, 0, 0, 0.12);
}

.account-popover__btn-icon {
  font-size: 14px;
}

.account-popover__btn-text {
  font-size: 14px;
}
