.workspaceList__title {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
}

.workspaceList__container {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  
}

.workspace-item-card {
  width: 362px;
  height: 144px;

  background: #f4f4f4;
  border-radius: 10px;
}
