.workspaceList__title {
  font-style: normal;
  font-weight: 500;
  font-size: 26px;
  line-height: 39px;
}

.workspaceList__container {
  width: 100%
}

.workspace-item-card {
  background: #f4f4f4;
  border-radius: 10px;
  width: 362px;
  height: 145px;
  margin: 15px;
  vertical-align: middle;
  display: inline-block;

}

.react-horizontal-scrolling-menu--arrow-left{
  display: flex;
  align-items: center;
  
}

.react-horizontal-scrolling-menu--arrow-right{
  display: flex;
  align-items: center;
}
