:root {
  --task-bg-color: #efefef;
}

.workspace__task {
  padding: 20px;
  background-color: var(--task-bg-color);
  box-sizing: border-box;
  border-radius: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  margin-bottom: 10px;
}

.workspace-task__cover {
  width: 100%;
  height: 100px;
  border-radius: 8px;
}

.workspace-task__title {
  font-size: 16px;
}

.workspace-task__description {
  font-size: 14px;
  opacity: 0.8;
}

.workspace-task__label-wrapper {
  margin: 8px 0;
  display: flex;
  flex-direction: row;
}

.workspace-task__label {
  width: 60px;
  height: 8px;
  border-radius: 10px;
  margin-right: 5px;
}

.workspace-task__info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.task-info__details {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.task-info__details > div {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 2px;
  opacity: 0.3;
  font-weight: 500;
  font-size: 14px;
}
