* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-btn: #1E2C4B;
  --color-title: #1B1C40;
  --color-border: #e2e2e6;
}

body {
  font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F8F8FB;
}

.signup {
  width: 500px;
  border: 1px solid rgb(207, 204, 204);
  margin: auto; // Maybe redundant
  background-color: #fff;

  //Center the form
  &__wrapper {}

  // Join Us title
  &__title {
    font-size: 35px;
    font-weight: 500;
    margin: 2rem 0;
    color: var(--color-title);
    text-align: center;
    letter-spacing: -3.5px;
  }



  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;

    //Input styles
    input {
      width: 410px;
      height: 75px;
      margin-bottom: 28px;
      outline: none;
      border: 1px solid var(--color-border);
      padding: 0 15px;
      border-radius: 4px;
      background-color: #F8F8FB;
      font-family: 'Poppins';
      font-weight: 500;
      font-size: 18px;

      &::placeholder {
        color: #bcbcc4;
      }
    }

    &-username {
      margin-right: calc(410px - 398px);
      position: relative;

    }

    &--gender {
      height: 75px;
      margin-bottom: 28px;
      outline: none;
      border-radius: 4px;
      border: 1px solid var(--color-border);
      font-size: 18px;
      background-color: #F8F8FB;
      padding: 5px 10px;
      color: gray;

      .absolute {
        position: absolute;
        right: 0;
        bottom: 0;
      }


    }

    #switch_choice {
      color: gray;
      margin-bottom: 20px;
    }
  }



  &__errorMessage {
    color: var(--login-error-color);
    margin: 0;
    width: 100%;
    font-size: 16px;
  }

  &__errorMessage--hidden {
    display: none;
  }

  //Signup Button
  &__btn {
    background-color: var(--color-btn);
    font-size: 18px;
    width: 410px;
    height: 75px;
    color: white;
    font-family: inherit;
    font-weight: 500;
    line-height: 27px;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
    border: none;
    margin-bottom: 1.5rem !important;


    &:hover {
      background-color: #17223a;
    }

    &:active {
      transform: scale(.99);
    }

  }

  &__btn2 {
    background-color: white;
    font-size: 18px;
    width: 410px;
    height: 75px;
    color: black;
    font-family: inherit;
    font-weight: 500;
    line-height: 27px;
    cursor: pointer;
    border-radius: 4px;
    display: inline-block;
    border: none;
    margin-bottom: 3rem !important;
    transition: all 0.4s ease-in-out;

    &:hover {
      background-color: #b9bfc4;
    }

    &:active {
      transform: scale(.99);
    }

  }

}

.error {
  color: #ff4d4f;
  font-size: 13.5px;
  font-weight: 500;
  letter-spacing: 0.7px;
  width: 410px;
  transform: translateY(-100%);
  margin-left: 1.5px;
}

.username--gender {
  display: flex;
  max-width: 410px;
  align-items: center;
}

.username-gender-center {
  display: flex;
  max-width: 410px;

}