* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-btn: #1E2C4B;
  --color-title: #1B1C40;
  --color-border: #e2e2e6;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup {
  width: 500px;
  border: 20px solid rgba(75, 78, 109, 0.7098039216);
  border-radius: 30px;
  margin: auto;
}
.signup__title {
  font-size: 35px;
  font-weight: 800;
  margin: 2rem 0;
  color: var(--color-title);
  text-align: center;
  letter-spacing: -3.5px;
}
.signup__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.signup__form input {
  width: 270px;
  height: 50px;
  margin-bottom: 18px;
  outline: none;
  border: 2px solid var(--color-border);
  padding: 0 15px;
  border-radius: 5px;
  font-family: "Mulish";
  font-weight: 550;
}
.signup__form input::placeholder {
  color: #bcbcc4;
}
.signup__errorMessage {
  color: var(--login-error-color);
  margin: 0;
  width: 100%;
  font-size: 16px;
}
.signup__errorMessage--hidden {
  display: none;
}
.signup__btn {
  background-color: var(--color-btn);
  font-size: 15px;
  width: 300px;
  height: 50px;
  color: white;
  font-family: "Mulish";
  font-weight: 500;
  line-height: 23px;
  cursor: pointer;
  border-radius: 4px;
  display: inline-block;
  border: none;
  margin-bottom: 3.5rem !important;
}
.signup__btn:hover {
  background-color: #17223a;
}
.signup__btn:active {
  transform: scale(0.99);
}